@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/ZenKakuGothicNew-Bold.woff2') format('woff2'),
        url('fonts/ZenKakuGothicNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/ZenKakuGothicNew-Black.woff2') format('woff2'),
        url('fonts/ZenKakuGothicNew-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/ZenKakuGothicNew-Light.woff2') format('woff2'),
        url('fonts/ZenKakuGothicNew-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/ZenKakuGothicNew-Medium.woff2') format('woff2'),
        url('fonts/ZenKakuGothicNew-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Zen Kaku Gothic New';
    src: url('fonts/ZenKakuGothicNew-Regular.woff2') format('woff2'),
        url('fonts/ZenKakuGothicNew-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

